/*
Theme Name: Hello
Theme URI: http://migueldeleon.co
Author: Migueldeleon.co
Author URI: http://migueldeleon.co/themes
Description: Un theme minimalista para Wordpress en Español, con SEO potenciado
Version: 1.0
*/

html, body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
ul{font-size: 0;padding: 0;margin: 0;}
ul li{font-size: 16px;}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

/*========================================================
HEADER
========================================================*/

header, #header{
	/*background-color: #f5f5f5;*/
	background-color: #fafafa;
}
#header{
	height: 80px;
	width: 100%;
	padding: 0;
	border-bottom: 1px solid #ebebeb;
}
#header h1{
	margin: 0;
	padding: 0px;
	float: left;
	line-height: 80px;
	font-weight: bold;
}
#header ul{
	padding: 0px;
	margin: 0;
	float: right;
}
#header ul li{
	display: inline-block;
}
#header ul li a{
	line-height: 80px;
	margin: 0px 10px;
	text-decoration: none;
	color: #999;
	font-size: 14px;
	display: block;
}
#header ul li a:hover{
	color: black;
	border-bottom: 4px solid #f77462;
}
#header ul li a:active{
	border-bottom: 4px solid #50a2e5;
}
li.current-menu-item a{
	color: #f77462 !important;	
}

/*========================================================
CONTENIDO
========================================================*/
.wrap{
	width: 	1000px;
	margin: 0 auto;
}
.fix{clear: both;}
.bl{
	border-bottom: 1px solid #eee;
	width: 70%;
	margin: 40px auto 0 auto;
}
#contenido{
	width: 1000px;
	margin: 50px auto 0 auto;
}
.loop{
	width: 	640px;
	float: 	left;
	border-right: 1px solid #ebebeb;
	position: relative;
}
.loop .post{
	padding: 0px 20px;
	margin: 0px 0px 100px 0;
	width: 600px;
	display: block;
	position: relative;
}
.loop .post img{
	width: auto;
	max-width: 600px;
	height: auto;
}
.loop .post pre{
	width: 600px;
	overflow-wrap: break-word;
}
.loop .post h2{
	font-weight: bold;
	color: #333333;
	margin: 0px 0px;
}
.loop .post h1, .loop .post h2, .loop .post h3, .loop .post h4, .loop .post h5, .loop .post h6{
	color: #848484;
}
h2.titulopost{
	color: #333333 !important;
}
h2.titulopost a{
	border: none !important;
	padding: 0 !important;
	color: #333333 !important;
	background: none !important;
}
h2.titulopost a:hover{
	color: #000;
}
.loop .post p{
	color: #848484;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 20px;
}
.sticky{
	border-left: 4px solid #f77462;
	padding: 0px 16px !important;
}
.sticky h2{
	font-weight: bold;
}

.loop .post a{
	padding: 3px 4px;
	background-color: #fafafa;
	border: 1px solid #f1f1f1;
	color: #f77462;
	border-radius: 4px;
	text-decoration: none;
}
.loop .post a:hover{
	color: #50a2e5;
}
.loop .post ul, .loop .post ol{
	padding: 0px 40px;
}
.loop .post ul li, .loop .post ol li{
	font-size: 14px;
	color: #848484;
	line-height: 24px;
}
ul.datos_post{
	padding: 0 !important;
	margin: 0;
	font-size: 0;
}
ul.datos_post li{
	font-size: 12px !important;
	font-size: 12px;
	color: #848484;
	display: inline-block;
	margin: 0 10px 0 0;
}
blockquote{
	background-color: #f9f9f9;
	padding: 10px;
	border-left: 2px solid #f77462;
}
.alignleft{
	float: left;
	padding-right: 10px;
}
dl, dt, dd, table{
	font-size: 14px;
	color: #848484;
}
.wp-caption-text{
	margin: 0 !important;
	font-size: 11px !important;
}
a.more-link{
	background-color: #f77462 !important;
	color: #fff !important;
	font-size: 12px;
	border: none !important;
}

/*========================================================
SIDEBAR
========================================================*/
#sidebar{
	width: 	320px;
	float: 	right;	
}
.widget a{
	color: #f77462;
}
.widget ul li{
	display: block;
	width: 100%;
	font-size: 14px;
}
.widget .buscar .buscar-input{
	width: 100%;
	height: 36px;
	border: 1px solid #ebebeb;
	padding: 0px 0px 0px 5px;
}

/*========================================================
FOOTER
========================================================*/
footer, #footer{
	width: 100%;
	height: auto;
	background: #fafafa;
	border-top: 1px solid #ebebeb;
	margin-top: 50px;
}
ul.footer_divs{
	padding: 0;
	font-size: 0;
	text-align: center;
}
ul.footer_divs > li{
	display: inline-block;
	font-size: 14px;
	width: 300px;
	padding: 0px 10px;
	vertical-align: top;
	margin: 0px 6px;
	text-align: left;
}
.copy{
	font-size: 13px;
	padding: 4px 0px;
	margin: 30px 0px 0px 0px;
	color: #848484;
	width: 100%;
	background: #f1f1f1;
	text-align: center;
}
.copy a{
	text-decoration: none;
	font-weight: bold;
	color: #848484;
}